<hr class="half-rule">

<div class="container">

		<blockquote>"I had always wanted to try yoga, but I wasn't in the best shape and I found studio classes really intimidating. It's difficult to overstate how grateful I am for Yoga in Comfort." -Katie H.</blockquote>

		<hr class="half-rule">
	
		<div class="row">
			<div class="col-md-offset-2 col-md-8 centertext">
				<h2>We are a revolutionary new yoga company.</h2>
				<p>These days, most yoga classes are offered at studios. While packing classes with yogis is good for the studio owner, most people find it difficult to concentrate and relax in a crowded setting. On top of this, many people desire personal attention from the instructor, which can be difficult when there are thirty other people in the class!</p>

				<p>Add to this the difficulty of finding classes that fit one's busy schedule -- hey, we live in LA after all! -- and well, don't you wish yoga instructors could just come to you instead, and do so at a time of your choosing?</p><br />

				<div class="centertext">
					<%= link_to booking_path, class: "btn btn-primary btn-lg" do %>
						Book Some Yoga
					<% end %>
				</div>
			</div>
		</div>

	<hr class="half-rule">

	<div class="row">
		<div class="centertext col-md-3">
			<h3><i class="fa fa-smile-o"></i> 100% Guarantee</h3>
			<p>If you are not happy with your yoga session for any reason, we will give you a full refund. The strongest guarantee in the yoga world!</p>
		</div>
		<div class="centertext col-md-3">
			<h3><i class="fa fa-thumbs-up"></i> Insured Services</h3>
			<p>You're in good company when you choose Yoga in Comfort. Rest assured that all of our instructors are fully insured.</p>
		</div>
		<div class="centertext col-md-3">
			<h3><i class="fa fa-suitcase"></i> Yoga Gear Provided</h3>
			<p>No need to have your own gear. We provide everything, including mats and blocks. Just wear your workout clothes and relax!</p>
		</div>
		<div class="centertext col-md-3">
			<h3><i class="fa fa-lock"></i> Secure Payment</h3>
			<p>All payments are handled securely by Stripe, a world-class online payment processor. We don't store credit card information.</p>
		</div>
	</div>

	<hr class="half-rule">

	<div class="row">
		<div class="col-md-offset-2 col-md-8 centertext">
			<h2>About Us</h2>
			<p>We provide personalized yoga services that come to your doorstep. We would like to make yoga more accessible to you with convenient scheduling and WOW you with excellent customer service.</p>
		</div>
	</div>

</div>