<div class="sixty-seconds-image">
</div>
<div class="sixty-seconds centertext">
	<h1>YOU'RE 60 SECONDS AWAY <br />FROM AWESOME YOGA!</h1>
</div>
<hr class="half-rule">
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<script src="https://yogaincomfort.launch27.com/jsbundle"></script>
			<iframe id="booking-widget-iframe" src="https://yogaincomfort.launch27.com/?w" style="border:none;width:95%;min-height:1750px;overflow:hidden" scrolling="no"></iframe>
		</div>
		<div class="col-md-5">
			<div class="row">
			<h3><i class="fa fa-smile-o"></i> 100% Satisfaction Guarantee</h3>
			<p>If you are not happy with your yoga session for any reason, we will give you a full refund. The strongest guarantee in the yoga world!</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-thumbs-up"></i> Insured Services</h3>
			<p>You're in good company when you choose Yoga in Comfort. Rest assured that all of our instructors are fully insured.</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-suitcase"></i> Yoga Gear Provided</h3>
			<p>No need to have your own gear. We provide everything, including mats and blocks. Just wear your workout clothes and relax!</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-clock-o"></i> Speedy Confirmation</h3>
			<p>Book and receive a confirmation within 30 minutes during normal booking hours from 9AM to 7PM.</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-lock"></i> Safe Shopping Guarantee</h3>
			<p>Don't worry, you'll pay nothing if unauthorized charges are made to your card as a result of booking with us.</p>
			</div>
		</div>
	</div>
</div>