<% provide(:title, 'Booking') %>
<div class="sixty-seconds-image">
</div>
<div class="sixty-seconds centertext">
	<h1>YOU'RE 60 SECONDS AWAY <br />FROM AWESOME YOGA!</h1>
</div>
<hr class="half-rule">
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<script src="https://yogaincomfort.launch27.com/jsbundle"></script>
			<iframe id="booking-widget-iframe" src="https://yogaincomfort.launch27.com/?w" style="border:none;width:95%;min-height:1750px;overflow:hidden" scrolling="no"></iframe>
		</div>
		<div class="col-md-5">
			<div class="row">
			<h3><i class="fa fa-smile-o fa-green"></i> 100% Satisfaction Guarantee</h3>
			<p>If you are not happy with your yoga session for any reason, we will give you a full refund. The strongest guarantee in the yoga world!</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-thumbs-up fa-green"></i> Insured Services</h3>
			<p>You're in good company when you choose Yoga in Comfort. Rest assured that all of our instructors are fully insured.</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-suitcase fa-green"></i> Yoga Gear Provided</h3>
			<p>You just need a yoga mat. We provide everything else, including blocks and straps. Just wear your workout clothes and relax!</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-clock-o fa-green"></i> Speedy Confirmation</h3>
			<p>Book and receive a confirmation on the same day during normal business hours from 9AM to 5PM.</p>
			</div>
			<div class="row">
			<h3><i class="fa fa-lock fa-green"></i> Safe Shopping Guarantee</h3>
			<p>Don't worry, you'll pay nothing if unauthorized charges are made to your card as a result of booking with us.</p>
			</div>

			<hr class="half-rule">

			<div class="row">
			<h3><i class="fa fa-tree fa-green"></i> First-time customer?</h3>
			<p>We have everyone's comfort and safety in mind -- including those of our wonderful instructors. During confirmation, we may request having the practice at a public venue instead, such as a nearby park or beach. Dont worry: you reserve the right to decline, and if you do so we will not charge your card. We greatly appreciate your understanding! :-)</p>
			</div>

		</div>
	</div>
</div>