<div class="container">
	<hr class="half-rule">
	<h3>Frequently Asked Questions</h3>
	<br />
	<div class="row">
		<div class="col-md-6">
			<h4>What kind of yoga do your instructors offer?</h4>
			<p>We offer Vipassana yoga. We find that it is the most easily accessible type of yoga, and ideal for casual practicioners.</p>

			<h4>How will I know what time to choose?</h4>
			<p>Simply pick the date, and available times for that date will be displayed. Once you book your appointment, we will confirm it within 60 minutes (during business hours) and you'll be set!</p>
	
			<h4>What forms of payment do you accept?</h4>
			<p>We currently accept credit/debit cards. Our online payments are processed by Stripe, and are processed though a fully secure 256-bit protocol. Booking through Yoga in Comfort is safe and secure and we guarantee this. Any unauthorized charges that are made to your card as a result of doing business with us will be fully refunded.</p>
	
			<h4>For recurring yoga sessions, do I have to book each time?</h4>
			<p>Nope! Simply select the appropriate frequency during checkout and you're good to go. We even offer discounts for regular sessions!</p>
		
			<h4>What gear and equipment do I need?</h4>
			<p>You only need a yoga mat. That's it! We provide blocks, straps and anything else that may be needed.</p>
		</div>
		<div class="col-md-6 faq-support">
			<h4>Need help with something not listed to the left?</h4>
			<p>Not a problem at all. We would love to answer any questions you may still have! Here are some options:</p>
			<ul>
				<li>Send us a Tweet (<a href="http://twitter.com/yogaincomfort">@yogaincomfort</a>) and we will respond within 30 minutes.</li>
				<li>Email us at <a href="mailto:info@yogaincomfort.com">info@yogaincomfort.com</a>.</li>
				<li>Chat with us between 9AM and 6PM by clicking the blue 'Contact Us' box on the bottom right corner.</li>
			</ul>
		</div>
	</div>
</div>