<div class="jumbotron frontpage centertext">
	<div class="banner-text">
		<h1>YOGA IN COMFORT</h1>
		<p class="lead">Learn yoga in the comfort of your home with the help of an experienced instructor.</p>

		<%= link_to about_path, class: "btn btn-lg btn-primary" do %>
	        <i class="fa fa-clock-o"></i> Schedule Yoga Session
	    <% end %>
    </div>
</div>

<div class="gray-bar centertext">
	<div><strong>Sometimes you just need to relax. Let us come to you and help!</strong></div>
</div>
<div class="container">
	<div class="row">
		<div class="centertext col-md-4">
			<h2><i class="fa fa-green fa-calendar fa-2x"></i></h2>
			<h4>Book</h4>
			<p>Book your recurring or one-time yoga session online with no hassles and instant confirmation.</p>
		</div>
		<div class="centertext col-md-4">
			<h2><i class="fa fa-green fa-check-circle-o fa-2x"></i></h2>
			<h4>Confirm</h4>
			<p>Add instructions and pay securely online by debit or credit card. No cash, no problems.</p>
		</div>
		<div class="centertext col-md-4">
			<h2><i class="fa fa-green fa-smile-o fa-2x"></i></h2>
			<h4>Relax</h4>
			<p>Enjoy your private and calming yoga experience and leave your worries behind.</p>
		</div>
	</div>
</div>
<hr class="half-rule">
<div class="row no-margin-row yogamats">
	<div class="col-md-offset-4 col-md-5">
		<h2>Yoga in Comfort Instructors</h2>
		<div id="instructor-qualifications">
			<i class="fa fa-check-circle fa-green"></i> Background and reference checked<br/>
			<i class="fa fa-check-circle fa-green"></i> Consistently high customer ratings<br/>
			<i class="fa fa-check-circle fa-green"></i> Certified and experienced<br/>
			<i class="fa fa-check-circle fa-green"></i> Reliable and trustworthy<br/>
			<i class="fa fa-check-circle fa-green"></i> Fully insured
		</div>
	</div>
</div>
<hr class="half-rule">
<div class="row no-margin-row guarantee">
	<div class="col-md-2 col-md-offset-1 blueyogagirl">
	</div>
	<div class="col-md-6 centertext">
		<h1>100% HAPPINESS GUARANTEED</h1>
		<p class="lead">If you are not happy with your yoga session for any reason, we will give you a full refund. The strongest guarantee in the yoga world!</p> 
	</div>
	<div class="col-md-2 blueyogagirl">
	</div>
</div>
<hr class="half-rule">
<div class="super-easy-image">
</div>
<div class="row no-margin-row centertext super-easy">
	<h2>We make it super easy!</h2>
	<ul>
		<li>
			<p><i class="fa fa-calendar fa-2x"></i></p>
			<p>Pick a date</p>
		</li>
		<li>
			<p><i class="fa fa-clock-o fa-2x"></i></p>
			<p>Book in 1 minute</p>
		</li>
		<li>
			<p><i class="fa fa-lock fa-2x"></i></p>
			<p>Pay securely</p>
		</li>
		<li>
			<p><i class="fa fa-book fa-2x"></i></p>
			<p>No contracts</p>
		</li>
		<li>
			<p><i class="fa fa-money fa-2x"></i></p>
			<p>No upsells</p>
		</li>
	</ul>
	
</div>
<!-- <hr class="half-rule">
<div class="row">
	<div class="centertext col-md-4">
		<h4>Flexible Bodies, Flexible Schedules</h4>
		<p>Incredibly busy? That's OK. Just tell us what time is best for you and we will make it work.</p>
	</div>
	<div class="centertext col-md-4">
		<h4>Trusted and Experienced Instructors</h4>
		<p>All of our instructors are certified and have been interviewed and vetted.</p>
	</div>
	<div class="centertext col-md-4">
		<h4>100% Guaranteed Satisfaction</h4>
		<p>If you are not happy with your private yoga lesson, we will issue a full refund, no questions asked.</p>
	</div>
</div> -->
<hr class="half-rule">

<div class="row no-margin-row where-we-serve">
	<div class="col-md-offset-2 col-md-4">
		<div id="map-canvas">
		</div>
	</div>
	<div class="col-md-4 map-text">
	<h2>Where We Serve</h2>
	<p class="lead">We are currently serving yogis in Los Angeles county. You can see the rough area to the left. If you have any questions, you can contact us <a href="mailto:inquiry@yogaincomfort.com">by email</a>. We would love to hear from you! :-) </p><br>
	<div class="centertext">
		<%= link_to about_path, class: "btn btn-primary btn-lg" do %>
			<i class="fa fa-clock-o"></i> Schedule Yoga Session
		<% end %>
	</div>
	</div>
</div>
<hr class="half-rule">
<div class="row no-margin-row centertext tech-company">
	<div class="col-md-offset-2 col-md-8 what-if">
		<h4 class="green-text">What if a high-tech company offered yoga scheduling services?</h4>
		<p>Would it be strange? Maybe a little. Would it be awesome? Definitely! We're here to make the world a better place, both for yoga instructors and aspiring yogis.</p>
		<%= link_to about_path, class: "btn btn-primary btn-lg" do %>
			Give us a try
		<% end %> 
	</div>
</div>

