<div class="jumbotron frontpage centertext">
	<div class="banner-text">
		<h2>Private yoga, customized just for you.</h2>
		<p class="lead">Practice in the comfort of your home with the help of an experienced instructor.</p>

		<%= link_to booking_path, class: "btn btn-lg btn-primary" do %>
	        <i class="fa fa-clock-o"></i> Schedule Yoga Session
	    <% end %>
    </div>
</div>

<hr class="half-rule">
<div class="container">
	<div class="row">
		<div class="centertext col-md-4">
			<h2><i class="fa fa-green fa-calendar fa-2x"></i></h2>
			<h4>Book</h4>
			<p>Book your recurring or one-time yoga session online with no hassles and instant confirmation.</p>
		</div>
		<div class="centertext col-md-4">
			<h2><i class="fa fa-green fa-check-circle-o fa-2x"></i></h2>
			<h4>Confirm</h4>
			<p>Add instructions and pay securely online by debit or credit card. No cash, no problems.</p>
		</div>
		<div class="centertext col-md-4">
			<h2><i class="fa fa-green fa-smile-o fa-2x"></i></h2>
			<h4>Relax</h4>
			<p>Enjoy your private and calming yoga experience and leave your worries behind.</p>
		</div>
	</div>
</div>
<hr class="half-rule">
<div class="row no-margin-row yogamats">
	<div class="col-md-offset-4 col-md-5">
		<h2>Yoga in Comfort Instructors</h2>
		<div id="instructor-qualifications">
			<i class="fa fa-check-circle fa-green"></i> Background and reference checked<br/>
			<i class="fa fa-check-circle fa-green"></i> Consistently high customer ratings<br/>
			<i class="fa fa-check-circle fa-green"></i> Certified and experienced<br/>
			<i class="fa fa-check-circle fa-green"></i> Reliable and trustworthy<br/>
			<i class="fa fa-check-circle fa-green"></i> Fully insured
		</div>
	</div>
</div>
<hr class="half-rule">
<div class="row no-margin-row guarantee">
	<div class="col-md-2 col-md-offset-1 blueyogagirl">
	</div>
	<div class="col-md-6 centertext">
		<h1>100% HAPPINESS GUARANTEED</h1>
		<p class="lead">If you're not happy with your yoga session for any reason, we will give you a full refund. The strongest guarantee in the yoga world!</p> 
	</div>
	<div class="col-md-2 blueyogagirl">
	</div>
</div>
<hr class="half-rule">
<div class="super-easy-image">
</div>
<div class="row no-margin-row centertext super-easy">
	<h2>We make it super easy!</h2>
	<ul>
		<li>
			<p><i class="fa fa-calendar fa-2x"></i></p>
			<p>Pick a date</p>
		</li>
		<li>
			<p><i class="fa fa-clock-o fa-2x"></i></p>
			<p>Book in 1 minute</p>
		</li>
		<li>
			<p><i class="fa fa-lock fa-2x"></i></p>
			<p>Pay securely</p>
		</li>
		<li>
			<p><i class="fa fa-book fa-2x"></i></p>
			<p>No contracts</p>
		</li>
		<li>
			<p><i class="fa fa-money fa-2x"></i></p>
			<p>No upsells</p>
		</li>
	</ul>
	
</div>

<hr class="half-rule" id="location">

<div class="row no-margin-row where-we-serve">
	<div class="col-md-offset-2 col-md-4">
		<div id="map-canvas">
		</div>
	</div>
	<div class="col-md-4 map-text">
	<h2 class="no-margin">Where We Serve</h2>
	<p class="lead">We are Los Angeles locals and currently serve the surrounding areas. If you have any questions or are located outside the L.A. area but want to start your yoga practice, <a href="mailto:inquiry@yogaincomfort.com">contact us</a>. We would love to hear from you! :-) </p><br>
	<div class="centertext">
		<%= link_to booking_path, class: "btn btn-primary btn-lg" do %>
			<i class="fa fa-clock-o"></i> Schedule Yoga Session
		<% end %>
	</div>
	</div>
</div>

