<footer class="footer">
  <div class="container centertext">
    <p><%= link_to "About Us", about_path -%> | <%= link_to "Privacy Policy", about_path -%> | <%= link_to "Terms & Conditions", terms_path -%> | <%= link_to "Contact Us", about_path -%><br />
    Yoga in Comfort™ was proudly made in Los Angeles CA | Copyright 2014</p>
  </div>
</div>
</footer>